<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper标签要指定namespace属性，不然会报错，可看做包名-->
<mapper namespace="com.yao.admin.dao.UserMapper">
    <select id="findUserById" parameterType="int" resultType="com.yao.admin.model.User">
        select * from user where id = #{id}
    </select>
    <select id="findUserAll" resultType="com.yao.admin.model.User">
        select * from user
    </select>
    <insert id="insertUser" parameterType="com.yao.admin.model.User">
        insert into user(username,password,age) values(#{username},#{password},#{age})
    </insert>
    <delete id="deleteUserById" parameterType="int">
        delete from user where id=#{id}
    </delete>
    <update id="updateUserPassword" parameterType="com.yao.admin.model.User">
        update user set password=#{password} where id=#{id}
    </update>
</mapper>